 <div class="top-bar">
  <p>Página de teste sendo executada</p>
</div>

<div style="width: 100%;height: 100%;">
  <div class="ui centered grid" style="height: 100%;">
    <div class="centered row centered-elements">
      <div class="column">
        <lib-form-login></lib-form-login>
      </div>
    </div>
    <div class="row">
      <div class="ui two column centered grid">
        <lib-button-logout></lib-button-logout>
      </div>
    </div>
  </div>
</div>

<lib-form-modal-login></lib-form-modal-login>
